body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    font-family:Arial;
}

.calculator{
    background:#1e1e2f;
    padding:20px;
    border-radius:15px;
    width:260px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

#display{
    width:100%;
    height:50px;
    margin-bottom:15px;
    font-size:24px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:50px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#2f2f4f;
    color:white;
    transition:0.2s;
}

button:hover{
    background:#5050a5;
}

.operator{
    background:#ff9500;
}

.equal{
    background:#28a745;
}